{% extends "games_layout.html" %}
{% block frame %}
    <iframe src="https://i.simmer.io/@Sai_akarsh/bfs-dfs"></iframe>
{% endblock frame %}
{% block instr %}
    <ol>
        <li>
            Root ID is -1.
        </li>
        <li>
            To add a node, type the ID of the node which to you want this as a child
        </li>
        <li>
            Maximum nodes you can add are 15 and maximum depth is 4.
        </li>
        <li>
            Choode which method (BFS/DFS) you want the pizza guy to deliver the pizzas and click the houses in that order.
        </li>
    </ol>
{% endblock instr %}