{%extends "questions_layout.html"%}
{% block question %}
    <h4>Setting the Record</h4>
    <p>John Reese a traveler by heart, wanted to etch his name in the history books of the POIWorld. One day he decided to attempt the Guinness World Record for the person who has covered the largest number of cities in one single trip.</p>
<!--    <br>-->
    <p>So as usual he goes to his friend Harold Finch, the guy who broke the internet, to plan his trip so that he would be able to succeed in his dream. However since Harold was very busy at that moment, he has asked his most brilliant student, you, to solve it for him. </p>
<!--    <br>-->
    <p>Reese has a map of the POIWorld and you find that all places in POIWorld are nodes of a huge tree. Since, it is a single trip, you cannot visit any nodes twice and ofcourse all nodes are not necessarily connected to every other node with an edge. Thankfully, since POIWorld is a well planned world, all the cities are accessible from every other city i.e it is all a single component.</p>
<!--    <br>-->
    <p>Help Mr Reese determine the largest number of cities that can be visited by him. </p>
    <h4>Constraints</h4>
    <p> 1&le;Number of Cities&le;25*10<sup>3</sup></p>
<!--    <p> 1&le;Cost of Edges&le;Number of Vertic</p>-->
<!--    <p> 1&le;X&le;10<sup>18</sup></p>-->
    <h4>Input</h4>
    <p>First line consists of a single integer N denoting the number of cities. The next N-1 lines consists of 2 integers each denoting the vertices of a non-weighted edge.</p>
    <h4>Output</h4>
    <p>Print a single integer denoting the largest number of cities that can be visited by John</p>
    <h4>Sample Input</h4>
    <div style="background-color: #CCCCCC;">
    <pre>
 3
 0 1
 0 2
 2 3    </pre>
    </div>
    <h4>Sample Output</h4>
    <div style="background-color: #CCCCCC;">
    <pre>
 3</pre>
    </div>
    {% endblock question %}

{% block hint1 %}
    <p>The problem deals with the property of a tree called the diameter.</p>
{% endblock hint1 %}

{% block hint2 %}
    <p>Two DFSs? Got an idea?.</p>
{% endblock hint2 %}