<!doctype html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/static/navbar.css">
        <title>Front Page</title>
        <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
    
        <header>
            <img src="{{ url_for('static', filename='logo_1.png') }}" alt="Project logo" class = "logo">
            <nav>
                <ul>
                <li><a href = "{{ url_for('home') }}">HOME</a></li>
                <li><a href = "{{ url_for('game') }}">GAMES</a></li>
                <li><a href = "{{ url_for('coding') }}">CODING</a></li>
                <li><a href = "{{ url_for('intro') }}">RESOURCES</a></li>
                </ul>          
            </nav>
        </header>
    
    <section class = "home">
    <p><h1> The ultimate learning experience </h1></p>
        <br>
    </section>
    
    </body>
</html>