{% extends 'layout.html' %}
{% block head %}
<link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
<link href='https://fonts.googleapis.com/css?family=Dekko' rel='stylesheet'>
<style>
body {
background-color: #0B0C10;
}

.card{
    color: #66FCF1;
    background-color: #1F2833;
    font-family: 'Acme';
    font-size: 20px;
    border-color: #45A29E;
}

.card-text{
    color: white;
    font-size: 15px;
    font-family: 'Arial';
}
</style>
{% endblock head %}
{% block body %}

<div class="container-fluid">
    <div class="row my-3 mx-3">
        <div class="col-md d-flex">
            <div class="card mx-2 my-2">
<!--                <img src="#" alt="img" class="card-image-top">-->
                <div class="card-body flex-fill">
                    <h4 class="card-title">Selection Sort</h4>
                    <p class="card-text">The selection sort algorithm sorts an array by repeatedly finding the minimum element (considering ascending order) from unsorted part and putting it at the beginning.The selection sort is a basic but an interesting case to study.<br> <br>Play the game to learn in depth.</p>
                    <a href="{{ url_for('gamesTab', id=0) }}" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md d-flex">
            <div class="card mx-2 my-2">
<!--                <img src="#" alt="img" class="card-image-top">-->
                <div class="card-body flex-fill">
                    <h4 class="card-title">Binary Search</h4>
                    <p class="card-text">Binary search algorithm is used to find data when the data is sorted in some fashion. As it is much better than sequential search, try to gain some understanding about how the algorithm works by playing this game.<br> <br>Play the game to learn in depth.</p>
                    <a href="{{ url_for('gamesTab', id=1) }}" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md d-flex">
            <div class="card mx-2 my-2">
<!--                <img src="#" alt="img" class="card-image-top">-->
                <div class="card-body flex-fill">
                   <h4 class="card-title">Binary Search Tree(BST)</h4>
                    <p class="card-text">Binary Search Tree is a data structure in which the left subtree of a node has all nodes less than itself and the right subtree has nodes which are greater than the given node. To understand how we insert and search for nodes. <br> <br> Play the game to learn in depth.</p>
                    <a href="{{ url_for('gamesTab', id=2) }}" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row my-3 mx-3">
        <div class="col-md d-flex">
            <div class="card mx-2 my-2">
<!--                <img src="#" alt="img" class="card-image-top">-->
                <div class="card-body flex-fill">
                    <h4 class="card-title">Breadth First Search</h4>
                    <p class="card-text">Breadth First Search (BFS) is used to traverse a graph or a tree data structure in which all the neighbours of a given node are explored.BFS actually forms a base to all the graph based algorithms. <br> <br> Play the game to learn in depth.</p>
                    <a href="{{ url_for('gamesTab', id=3) }}" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md d-flex">
            <div class="card mx-2 my-2">
<!--                <img src="#" alt="img" class="card-image-top">-->
                <div class="card-body flex-fill">
                    <h4 class="card-title">Depth First Search</h4>
                    <p class="card-text">Depth First Search (DFS) is used to traverse a graph or tree data structure and is also a basic foundation for graph algorithms.BFS actually forms a base to all the graph based algorithms.  <br> <br> Play the game to learn in depth.</p>
                    <a href="{{ url_for('gamesTab', id=4) }}" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
        <div class="col-md d-flex">
            <div class="card mx-2 my-2">
<!--                <img src="#" alt="img" class="card-image-top">-->
                <div class="card-body flex-fill">
                   <h4 class="card-title">Kruskal's Algorithm</h4>
                    <p class="card-text">Kruskal's algorithm is used to find a minimum spanning tree for a given graph that is the graph should be connected and also the sum of edges of the graph will be minimum.<br> <br> Play the game to learn in depth.</p>
                    <a href="{{ url_for('gamesTab', id=5) }}" class="btn btn-primary">Play</a>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var element = document.getElementById('Game');
    element.classList.add("active");
</script>
{% endblock body %}