{% extends "games_layout.html" %}
{% block frame %}
    <iframe src="https://i.simmer.io/@Sai_akarsh/kruskal-algorithm"></iframe>
{% endblock frame %}
{% block instr %}
    <ol>
        <li>
            Add edges using the panel on the bottom-right side.
        </li>
        <li>
            The edges show up as a line between the coressponding nodes and as rects which contain details of the edge.
        </li>
        <li>
            After pressing start, you have to choose whether the highlighted edge forms a cycle or not for all edges.
        </li>
        <li>
            After doing this for all edges, we will get the MST using Kruskal's algorithm.
        </li>
    </ol>
{% endblock instr %}