{% extends "games_layout.html" %}
{% block frame %}
    <iframe src="https://i.simmer.io/@Sai_akarsh/selection-sort-aad"></iframe>
{% endblock frame %}
{% block instr %}
    <ol>
        <li>
            Add nodes using the add button.
        </li>
        <li>
            Repeatedly select the smallest node which had already has not been selected yet. 
        </li>
        <li>
            We get a sorted array in increasing order using selection sort.
        </li>
    </ol>
{% endblock instr %}