{% extends "questions_layout.html" %}
{% block question %}
    <h4>Simple Sort</h4>
    <p>This is a simple one, sort the elements of an array which contains N elements. If you use what you are taught you will pass half the test. Use your brain and your algorithmic thinking to come up with a better sorting algorithm?</p>
    <h4>Constraints</h4>
    <p>1&le;N&le;10<sup>4</sup></p>
    <h4>Input</h4>
    <p>First Line contains N the number of elements in the array, and the second consists of the N elements </p>
    <h4>Output</h4>
    <p>Output the sorted array in a line.</p>
    <h4>Sample Input</h4>
    <div style="background-color: #CCCCCC;">
        <pre>
 3
 3 1 2</pre>
    </div>
    <h4>Sample Output</h4>
    <div style="background-color: #CCCCCC;">
        <pre>
 1 2 3
 </pre>
    </div>
{% endblock question %}

{% block hint1 %}
    <p>Learn about faster methods like Merge Sort and Heap Sort</p>
{% endblock hint1 %}

{% block hint2 %}
    <p>Sorry..Too easy for another hint.</p>
{% endblock hint2 %}